/* Main CSS File */

/* General Declaration */

/* .container{  
	
} */

body {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 17px;
}

.align-center {
	text-align: center;
}

.box-align-center {
	margin: inherit auto;
	width: 100%;
}

.back-link {
	color: #5b3192 !important;
	text-decoration: underline !important;
}

.back-link:hover {
	color: #5b3192 !important;
}

.img-fit {
	width: 100%;
	object-fit: cover;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.bullet-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.no-list-type {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.no-list-type li {
	margin-bottom: 10px;
}

.s {
	font-weight: bolder !important;
}

ul.bullet-list.check li {
	background-image: url('../images/check-bullets.png');
	background-position: 0 1px;
	padding: 0 0 0 40px;
}

.bullet-list li {
	background-image: url('../images/bullets.png');
	background-position: 0 11px;
	padding: 0 0 0 40px;
}

.bullet-list li {
	background-repeat: no-repeat;
	font-family: 'Lato';
	color: #4b4142;
	font-size: 16px;
	line-height: 28px;
}

.button {
	font-family: 'Open Sans';
	font-weight: 700;
	color: #4b4142;
	font-size: 22px;
	letter-spacing: .6px;
	text-align: center;
	width: 90%;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(255, 255, 255, .6);
	padding: 20px 25px 25px 25px !important;
	margin: 20px auto 10px auto;
	display: block;
	padding: 15px 0 10px 0;
	border: solid #784200 1px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #edb91f;
	background: -moz-linear-gradient(top, #f5f768 0%, #edb91f 41%, #b08400 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5f768), color-stop(41%, #edb91f), color-stop(100%, #b08400));
	background: -webkit-linear-gradient(top, #edb91f 0%, #edb91f 41%, #b08400 100%);
	background: -o-linear-gradient(top, #edb91f 0%, #edb91f 41%, #b08400 100%);
	background: -ms-linear-gradient(top, #edb91f 0%, #edb91f 41%, #b08400 100%);
	background: linear-gradient(to bottom, #f8f41b 0%, #edb91f 90%, #daa71b 100%);
	-webkit-box-shadow: 0px 2px 5px 0px rgb(73, 73, 73);
	-moz-box-shadow: 0px 2px 5px 0px rgb(73, 73, 73);
	box-shadow: 0px 2px 5px 0px rgb(73, 73, 73);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9dc', endColorstr='#0060aa', GradientType=0);
}

.button:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.button:visited {
	color: #551932;
	text-decoration: none;
	cursor: pointer;
}

/** FORMS **/

.radio-list {
	padding: 0;
	margin: 0 0 20px 0;
	list-style: none;
}

.radio-options:hover {
	cursor: pointer;
}

.radio-options>span {
	font-family: 'Lato' !important;
	font-size: 14px !important;
	color: #666 !important;
	transition: all .25s linear;
	-webkit-transition: all .25s linear;
}

.radio-option {
	visibility: hidden;
	margin-left: -10px !important;
}

.radio-option:checked~span {
	color: #009fe3 !important;
}

.radio-option:checked~.radio-icon {
	background-image: url(../images/selected-radio.png);
}

.radio-icon {
	float: left;
	background-image: url(../images/radio-normal.png);
	background-repeat: no-repeat;
	background-position: 0 6px !important;
	background-size: 16px 16px;
	height: 25px;
	width: 25px;
	transition: all .25s linear;
	-webkit-transition: all .25s linear;
}

/* colors */

.gray {
	color: #666666 !Important;
}

.black {
	color: #4b4142 !important;
}

.blue {
	color: #2aace3 !important;
}

.blue2 {
	color: #2e3192 !important;
}

.blue3 {
	color: #0c8895 !important;
}

.red {
	color: #ed1c24 !important;
}

.pink {
	color: #ec008c !important;
}

.pink2 {
	color: #e9057b !important;
}

.maroon {
	color: #891647 !important;
}

.maroon2 {
	color: #6b3d4c !important;
}

.purple {
	color: #662d91 !important;
}

.purple2 {
	color: #8a06b6 !important;
}

.purple3 {
	color: #5b3192 !important;
}

.blue2 {
	color: #19468d !important;
}

.blue3 {
	color: #02b6c3 !important;
}

.green {
	color: #8dc63f !important;
}

.white {
	color: #fff !important;
}

.paragraph {
	font-size: 17px;
	line-height: 28px;
	margin-bottom: 30px;
	font-weight: normal;
}

.paragraph.i {
	font-style: italic !important;
}

.paragraph>a {
	text-decoration: underline !important;
	color: #5b3192 !important;
}

.f-right {
	float: right;
}

/*Typo */

h1 {
	font-weight: 700;
	font-size: 36px;
}

h2 {
	font-weight: 700;
	font-size: 31px;
}

h3 {
	font-weight: 700;
	font-size: 27px;
}

h4 {
	font-weight: 700;
	font-size: 22px !important;
}

.big-font {
	font-size: 50px;
}

.gray-fade-box {
	padding: 25px;
	margin: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: -webkit-linear-gradient(bottom, rgba(248, 248, 248, 1), rgba(250, 250, 250, .1));
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, rgba(248, 248, 248, 1), rgba(250, 250, 250, .1));
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, rgba(248, 248, 248, 1), rgba(250, 250, 250, .1));
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, rgba(240, 240, 240, .5), rgba(250, 250, 250, .1));
	/* Standard syntax (must be last) */
}

/* Header Styles */

/* header{
	padding-bottom: 10px;
	position: relative;
}  */

/* Landing Page */

#landing-page-section .banner {
	margin-bottom: 32px !important;
}

#banner-image {
	margin: 0 auto 0 auto;
	width: 100%;
	object-fit: cover;
}

/** TESTIMONIALS **/

.testimonials {
	font-family: 'Lato';
	font-weight: normal;
	font-size: 16px;
	color: #4b4142;
	min-height: 100px;
	display: inline-block;
}

.testimonials {
	width: 100%;
	margin-bottom: 16px;
	line-height: 28px !important;
}

.testimonials>span.col {
	padding-left: 110px;
	display: block;
}

.testimonials>strong {
	font-family: 'Lato' !important;
	font-weight: 400;
}

.testimonials .pull-left {
	margin-right: 30px;
}

.testimonials .pull-right {
	margin-left: 30px;
}

#landing-page-section h4 .title {
	font-family: 'Lato' !important;
	font-weight: 400;
	font-size: 20px !important;
	color: #ec008c !important;
	line-height: 28px !important;
}

/* Order Page */

#order-section .container {
	margin-top: 20px;
	padding-bottom: 50px;
}

#order-section #welcome-text {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 49px;
	color: #4b4142;
	line-height: 60px;
}

#order-section .par-heading {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 29px;
	color: #4b4142;
	line-height: 28px;
}

#order-section h3 {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 20px;
	color: #4b4142;
	line-height: 28px;
}

#order-section .order-price {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 20px;
	color: #4b4142;
	margin: 20px 0 20px 0;
}

#order-section #order-package {
	margin: 0 auto 10px auto;
}

#order-section #quantity-field {
	position: relative;
	width: 70px;
	padding-left: 0;
	padding-right: 0;
}

#order-section #quantity-field>button {
	border: none !important;
	background-color: #fff !important;
}

#order-section #quantity-field>button:nth-child(1) {
	float: left;
}

#order-section #quantity-field>button:nth-child(3) {
	float: right;
}

#order-section .pricecontainer {
	display: block;
	font-family: 'Lato';
	font-size: 15px;
	color: #5b3192;
	line-height: 16px;
	margin-top: 10px;
}

#order-section form label {
	font-family: 'Lato' !important;
	font-size: 12px !important;
	color: #4b4142 !important;
	margin: 5px 0 0 0 !important;
}

#order-section .input-fields {
	font-family: 'Lato' !important;
	font-size: 12px !important;
	color: #666 !important;
	width: 100%;
	border: 1px solid #959595 !important;
}

#order-section .expiration-options {
	position: relative;
	width: 50%;
	display: inline-block;
}

#order-section select {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
}

#order-section .select-side {
	position: absolute !important;
	bottom: 20px !important;
}

#order-section .arrow-right {
	right: 15px !important;
}

#order-section .exp {
	left: 0 !important;
}

#order-section .select-side .fa {
	font-size: small !important;
}

#order-section .expiration-options .select-side {
	right: 0 !important;
	bottom: 20px !important;
}

#order-section .i-agree>label {
	font-family: 'Lato' !important;
	color: #666 !important;
	font-size: 12px;
}

#order-section .i-agree>label>a {
	color: #5b3192 !important;
}

#order-section #button-canvas {
	background: rgba(69, 184, 192, 1) !important;
	background: -moz-linear-gradient(top, rgba(69, 184, 192, 1) 0%, rgba(84, 178, 47, 1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69, 184, 192, 1)), color-stop(100%, rgba(84, 178, 47, 1))) !important;
	background: -webkit-linear-gradient(top, rgba(69, 184, 192, 1) 0%, rgba(84, 178, 47, 1) 100%) !important;
	background: -o-linear-gradient(top, rgba(69, 184, 192, 1) 0%, rgba(84, 178, 47, 1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(69, 184, 192, 1) 0%, rgba(84, 178, 47, 1) 100%) !important;
	background: linear-gradient(to bottom, rgba(69, 184, 192, 1) 0%, rgba(84, 178, 47, 1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45b8c0', endColorstr='#54b22f', GradientType=0) !important;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(2, 127, 142, 1) !important;
	-moz-box-shadow: 0px 5px 2px 0px rgba(2, 127, 142, 1) !important;
	box-shadow: 0px 5px 2px 0px rgba(2, 127, 142, 1) !important;
}

#order-section #button-pattern>span:nth-child(3) {
	font-size: 60px;
	margin-top: -45px;
	text-shadow: 0px 0px 10px rgba(45, 104, 52, 1) !important;
}

/* Thank You Page */

/*  Footer Styles */

footer {
	font-size: 14px;
	padding-bottom: 32px !important;
	background-color: #000;
	color: #fff;
}

footer .footer_bottom {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 20px 0;
	color: #fff !important;
	margin-top: 10px;
}

footer a {
	color: #fff !important;
	text-decoration: none;
}

footer .shadow {
	width: 100%;
	height: 40px;
}

@media only screen and (min-width: 980px) {
	header .row,
	.padded-section .row {
		padding: 0px 50px 0px 50px;
	}
	#billing-information .row {
		padding: 10px 40px 0 40px !important;
	}
}

.alert {
	font-size: 14px;
}

.f-reg {
	font-weight: normal !important;
}

.f-400 {
	font-weight: 400 !important;
}

.f-500 {
	font-weight: 500 !important;
}

.f-700 {
	font-weight: 700 !important;
}

.f-800 {
	font-weight: 800 !important;
}

.uppercase {
	text-transform: uppercase;
}