/* @font-face {
	font-family: 'SEGOEUI';
	src: url(fonts/SEGOEUI.TTF);
} */

body {
	color: #444444 !important;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
}

h4 {
	line-height: inherit !important;
}

a {
	color: #6f3283 !important;
}

.landing-page-box-logos {
	background-color: #fff8fd;
	padding: 15px;
	text-align: center;
}

.landing-button-border {
	letter-spacing: 1px;
	text-align: center;
	padding: 30px !important;
	font-family: 'SEGOEUI' !important;
	color: #29a8e0 !important;
	font-size: 26px !important;
	margin: 30px auto 20px auto !important;
	border-radius: 50px;
	display: block !important;
	background-color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 5px solid #29a8e0;
	width: 70% !important;
	transition: all 0.5s ease;
}

.landing-button-border:hover {
	text-decoration: underline;
	border: 5px solid #fff;
}

.landing-button {
	text-align: center;
	padding: 30px !important;
	font-weight: 700;
	font-family: 'Lato' !important;
	color: #FFF !important;
	font-size: 26px !important;
	margin: 30px auto 20px auto !important;
	border-radius: 25px;
	display: block !important;
	background-color: #df6424;
	text-decoration: none;
	text-transform: uppercase;
	/* border: 5px solid #8dc63f; */
	width: 70% !important;
	transition: all 0.5s ease;
}

.landing-button:hover {
	text-decoration: underline !important;
	cursor: pointer !important;
	background-color: #f77a37;
}

.no-container {
	width: 100%;
	background-color: #eff1f1;
	margin: 10px 0px;
	border-bottom: 1px solid #eee;
}

.no-container .p {
	font-size: 20px;
	color: #fff !important;
}

.testi {
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 22px;
}

.testi .fa-star {
	color: #f65c33 !important;
	padding-right: 5px;
}

.testi hr {
	margin-left: -20px !important;
	margin-right: -20px !important;
}

.testi .author {
	display: inline-block;
}

.testi .avatar {
	display: inline-block;
	vertical-align: top;
}

.testi .info {
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
}

.testi .info .name {
	font-weight: bolder;
	font-size: 20px;
}

.radio-opt-payment {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 32px;
	user-select: auto;
	cursor: pointer;
}

.radio-opt-payment input[type='radio'] {
	width: 22px;
	height: 22px;
	margin-right: 10px;
	vertical-align: top;
}

.radio-opt-payment span.txt {
	display: inline-block;
	height: inherit;
	font-size: 16px;
	width: 92%;
}

.radio-opt-payment strong {
	color: #2e3192 !important;
}

.radio-opt-payment .i {
	color: #555555 !important;
	font-style: italic;
	font-weight: normal !important;
}

.white {
	color: #fff !important;
}

.blue3 {
	color: #10599d !important;
}

.pink2 {
	color: #7c2673 !important;
}

.blue {
	color: #0b57a3 !important;
}

.black3 {
	color: #484747 !important;
}

.green {
	color: #5f908f !important;
}

.green3 {
	color: #044444 !important;
}

.fa {
	font-size: 24px !important;
}

.red2 {
	color: #8f233b !important;
}

.gray2 {
	color: #b7b39c !important;
}

.orange {
	color: #f65c33 !important;
}

.brown {
	color: #7d6558 !important;
}

.brown2 {
	color: #512b1b !important;
}

.montserrat {
	font-family: 'Montserrat' !important;
}

.lato {
	font-family: 'Lato' !important;
}

.oswald {
	font-family: 'Oswald' !important;
}

.opensans {
	font-family: 'SEGOEUI' !important;
}

.img-box {
	width: 100%;
	margin: 12px auto;
}

.img-box img {
	width: inherit;
}

.banner-logo {
	margin: 16px auto;
	width: 550px;
}

@media only screen and (max-width: 520px) {
	.banner-logo {
		width: 90%;
		margin: 0 auto;
	}
}

.bg-green1 {
	background-color: #a9aa4c;
}

.bg-brown1 {
	background-color: #ded6c7;
}

.margin-22 {
	margin-top: 22px;
	margin-bottom: 22px;
}

footer {
	background-color: #333333 !important;
	padding: 32px 0;
	color: #fff !important;
}

footer a {
	color: #df6424 !important;
}

.video-frame-main {
	margin: 32px 0px 42px 0px;
	border: 12px solid #d2cac0;
}

.video-frame {
	border: 12px solid #f2e9d9;
}

ul.no-list-type {
	margin-top: 32px;
}

ul.no-list-type li img {
	width: 46px;
	height: 46px;
	margin-right: 12px;
	margin-bottom: 4px;
}

.header-top {
	color: #fff;
	background-color: #333333;
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}

.mid-box {
	background: url('../images/mid-content.jpg');
	width: 100%;
	height: 756px;
	object-fit: cover;
}

.dollar-sign {
	font-family: 'Oswald' !important;
	font-weight: 900;
	padding: 0 10px;
}